.calendar-container {
  height: inherit;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "calendar event-container";
}

.calendar {
  height: 70vh;
  width: 40vw;
  grid-area: calendar;
  background-color: whitesmoke;
  justify-items: center;
  padding: 1em;
  margin-left: 4em;
  text-align: center;
}

.event-container {
  height: 50vh;
  width: 40vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas:
    "title1"
    "description"
    "title2"
    "location"
    "title3"
    "instructor";
  grid-area: event-container;
  background-color: whitesmoke;
  opacity: 80%;
  margin-right: 5em;
  text-align: center;
  height: 70vh;
}

.title1 {
  grid-area: title1;
  font-weight: bold;
  font-size: 2em;
}

.title2 {
  grid-area: title2;
  font-weight: bold;
  font-size: 2em;
}

.title3 {
  grid-area: title3;
  font-weight: bold;
  font-size: 2em;
}

.description {
  grid-area: description;
}

.location {
  grid-area: location;
}

.instructor {
  grid-area: instructor;
}

.add-event {
  padding: 7px;
  margin: 20px;
  width: 10em;
}

.upcoming-table {
  padding: 30px 3px 3px 50px;
}
.date-header {
  float: left;
  width: 10%;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0px 10px 20px 10px;
  margin-right: 20px;
  text-align: left;
}

.description-header {
  float: left;
  width: 70%;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0px 10px 20px 10px;
  margin-right: 20px;
  text-align: left;
}

.date-column {
  float: left;
  width: 10%;
  text-align: left;
  padding: 0px 10px 50px 10px;
  margin-right: 20px;
  font-size: 1.125rem;
}
.description-column {
  float: left;
  width: 70%;
  text-align: left;
  padding: 0px 10px 50px 10px;
  font-size: 1.125rem;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media only screen and (max-width: 768px) {
  .calendar-container {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 768px) {
  .event {
    font-size: calc(1rem + ((1vw - 7.68px) * 0.6944));
    min-height: 0vw;
  }
}
@media (min-width: 1920px) {
  .event {
    font-size: 24px;
  }
}
