.tableRow {
  color: black;
}

table {
  margin: auto;
  width: 90%;
}

* {
  font: {
    family: "Papyrus", sans-serif;
  }
}

.leaderboard {
  text-align: center;
  height: 300px;
  border: 1px solid black;
  border-radius: 10px;
  overflow: auto;
  table {
    th {
      background-image: url("../images/backgroung.jpg");
      border-bottom: 1px solid black;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      z-index: 2;
    }
  }
}
