form {
  display: grid;
  grid-template-rows: auto;
  min-width: 400px;
  max-width: 50vw;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2em;

  label {
    display: grid;
    grid-template-columns: 100px 1fr;
    margin-top: 5px;
    margin-bottom: 5px;

    p {
      margin: 0;
      justify-self: right;
    }
  }

  #button {
    width: 30%;
    justify-self: center;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.5);
  }

  #link {
    margin-top: 5px;
    text-align: center;
  }
}

button {
  background-color: rgba(255, 255, 255, 0.5);
}