.menu {
  height: 12vh;
  grid-area: menu;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: white;
  box-shadow: 0 4px 8px #00000030;
  a {
    display: block;
    color: black;
    &.active,
    &:hover {
      color: blue;
    }
  }
}

#menu-wrapper {
  width: 100vw;
  height: 12vh;
  grid-area: menu;
  .menu {
    visibility: hidden;
  }
  &:hover {
    .menu {
      visibility: visible;
    }
  }
}
