.practice-room-container {
  display: grid;
  margin: auto;
  grid-template-columns: 3fr 2fr;
  padding: 2em;
  height: fit-content;

  .chart-container {
    grid-column: 1;
  }
  .river-container {
    display: flex;
    justify-content: center;
    margin-top: 2em;
  }
  .practice-timer {
    font-size: 1.5em;
    width: 15em;
    border-radius: 5px;
  }
  .center {
    display: flex;
    justify-content: center;
  }
  .practice-timer:hover {
    background-color: rgb(210, 210, 210);
  }
  .practice-board-container {
    grid-column: 2;
    display: flex;
    justify-content: center;
  }
  .practice-board {
    margin-top: 2em;
    width: 80%;
    opacity: 80%;
    background-color: white;
    padding: 1em;
    text-align: center;
  }

  .practice-stream-input {
    width: 80%;
  }
  .activity-input {
    width: 60%;
    text-align: center;
  }
  .practice-stream {
    padding: 0.5em;
  }
}
